apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: sample-universe
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: sample
        version: v2
    spec:
      containers:
        - name: sample-universe
          image: gauravthadani/istiosample:universe
          ports:
            - containerPort: 8080
