apiVersion: config.istio.io/v1alpha2
kind: RouteRule
metadata:
  name: sample-retry
spec:
  destination:
    name: sample-svc
  route:
  httpReqRetries:
    simpleRetry:
      attempts: 2
      perTryTimeout: 5s
